.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Leaflet styling */
.map {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#mapid {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.icon {
  border-radius: 10px;
}
